.DS_Store
Icon
__pycache__/
*.py[cod]

venv/
venv 2/
.venv/
.venv-django/
db.sqlite3

.streamlit/secrets.toml

~$*.xlsx
confronto_illumia_*.xlsx
static/downloads/*.xlsx
FILE_GENERATO.xlsx
*.zip
*.backup

energia solidale file accessori/
